*
    box-sizing: border-box
    margin: 0
    padding: 0

.allScreenDiv
    width: 100vw
    height: 100vh
    display: flex
    background-color: #d1a75433

.leftPlayerSide, .rightPlayerSide
    width: 50vw
    height: 100vh
    border-right: 1px dotted black
    display: flex
    flex-wrap: wrap
    .playerMap, .opponentMap
        height: 50vh
        width: 50vw